.anime-details-card {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--background-300);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 2rem auto;
  max-width: 1300px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;

  justify-content: center;
  align-items: flex-start;
}

.anime-cover img {
  width: 400px;
  border-radius: 1rem;
  padding: 0.5rem;
  /* background: var(--background-100); */
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.2), 0 0 12px rgba(128, 0, 255, 0.4);
}

.anime-info-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.anime-title-pf {
  color: var(--typography-100);
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.anime-stats {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;

  justify-content: center;
  width: 100%;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-title {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--typography-200);
  border-bottom: 1px solid var(--typography-200);
  margin-bottom: 0.5rem;
}

.stat-value {
  font-size: 1.5rem;
  color: var(--typography-100);
  font-weight: bold;
}

.stat-extra {
  font-size: 0.8rem;
  color: var(--typography-300);
}

.anime-info-pf p {
  color: var(--typography-100);
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.anime-info-pf p:not(:last-child)::after {
  content: "|";
  margin: 0 0.4rem;
  color: var(--typography-300);
}

.anime-info-pf {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.1rem;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  color: var(--typography-100);
}

.genres-pf {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 0.7rem;

  justify-content: center;
  text-align: center;
}

.genre-pf {
  background-color: var(--background-200);
  color: var(--typography-100);
  padding: 0.6rem 0.9rem;
  border-radius: 999px;
  font-size: 1rem;

  box-shadow: 0 0 6px rgba(255, 255, 255, 0.2), 0 0 12px rgba(128, 0, 255, 0.4);
}

.synopsis {
  margin-top: 1rem;
  color: var(--typography-200);
  line-height: 1.5;
}

.trailer-card {
  margin: 2rem auto;
  max-width: 900px;
  background-color: var(--background-300);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.trailer-thumbnail {
  width: 100%;
  max-width: 800px;
  border-radius: 1rem;
  cursor: pointer;

  box-shadow: 0 0 6px rgba(255, 255, 255, 0.2), 0 0 12px rgba(128, 0, 255, 0.4);
  transition: transform 0.3s ease;
  transition: opacity 0.3s ease;
}

.trailer-thumbnail:hover {
  transform: scale(1.02);
}

.trailer-video {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/9;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.2), 0 0 12px rgba(128, 0, 255, 0.4);
}
.trailer-video.show {
  opacity: 1;
}

.characters-card {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: var(--background-300);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.characters-list {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120px;
}

.character-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
}

.character-name {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--typography-100);
  text-align: center;
}
/* coração */
.fav-heart {
  background: transparent !important; 
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 42px;
  color: #bbb;
  transition: transform 0.2s ease, color 0.2s ease;
}

.fav-heart:hover {
  transform: scale(1.15);
  
}

.fav-heart.active {
  color: #ff4d6d;
  
}

.fav-heart:focus,
.fav-heart:focus-visible {
  outline: none;
  box-shadow: none;
}

.fav-heart.pop {
  transform: scale(1.3);
  
}

.fav-wrapper {
  display: flex;
  justify-content: center;
  

}



@keyframes heart-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}


@media (max-width: 768px) {
  .anime-details-card {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }

  .anime-cover img {
    width: 100%;
    max-width: 300px;
  }

  .anime-info-box {
    flex: none;
    padding: 1rem;
    width: 100%;
    align-items: center;
  }

  .anime-title-pf {
    font-size: 1.5rem;
    text-align: center;
  }

  .anime-stats {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: flex-start;
    width: 100%;
  }

  .stat {
    align-items: center;
  }

  .anime-info-pf {
    font-size: 1rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .genres-pf {
    gap: 0.5rem;
    justify-content: center;
  }

  .synopsis {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
  }

  .characters-list {
    flex-direction: column;
    gap: 1rem;
  }

  .character {
    max-width: 100%;
  }

  .character-image {
    width: 100%;
    height: 200px;
  }
}
