.anime-filter-section {
  padding: 20px;
}

.filter-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

.filter-menu select {
  background-color: var(--background-200);
  color: var(--primary-100);
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px solid var(--primary-600);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  outline: none;
}

.filter-menu select:hover,
.filter-menu select:focus {
  background-color: var(--background-200);
  color: var(--primary-100);
  border-color: var(--primary-300);
}

.anime-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.show-more-btn {
  text-align: center;
  margin-top: 20px;
}

.show-more-btn button {
  padding: 10px 30px;
  /* background: var(--primary-700); */
  background-color: transparent;

  border: 1px solid #334155;

  border-radius: 8px;
  color: var(--primary-100);
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

.show-more-btn button:hover {
  box-shadow: 0 0 12px rgba(14, 165, 233, 0.2);
}
.loading-card {
  width: 200px;
  height: 300px;
  border-radius: 12px;
  background-color: var(--background-100);
  color: var(--primary-100);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
