body {
  overflow-x: hidden;
}

.main-header {
  width: 100%;
  max-width: 1500px; 
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
}

.center-section .ativo {
  color: var(--typography-100);
  /* font-weight: bold; */
  /* border-bottom: 2px solid var(--highlight-color); */
}

.left-section .logo {
  height: 160px;
  margin-top: 80px;
  object-fit: contain;
}

.center-section {
  display: flex;
  gap: 15px;
}

.center-section a {
  text-decoration: none;
  color: var(--typography-300);
  font-weight: 500;
  transition: color 0.3s;
}

.center-section a:hover {
  color: var(--typography-100);
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: var(--background-300);
  padding: 6px 10px;
  border-radius: 20px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  color: var(--typography-100);
  padding-left: 8px;
}

.search-icon {
  color: var(--typography-200);
}

.icon {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.1);
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--primary-500);
}
.nav-discord {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-discord-contact {
  color: var(--typography-200);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-discord:hover {
  color: #3b82f6;
}

.nav-discord .icon {
  font-size: 20px;
  transform: translateY(1px);
}
.menu-toggle {
  display: none;
}
@media (max-width: 830px) {
  body {
    overflow-x: hidden;
  }

  .main-header {
    flex-wrap: nowrap;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
  }

  .left-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .left-section .logo {
    display: none;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--typography-100);
  }

  .center-section {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: var(--background-100);
    gap: 20px;
    padding: 20px;
    display: none;
    z-index: 10;
    text-align: center;
  }

  .center-section.active {
    display: flex;
  }

  .right-section {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    max-width: fit-content;
    overflow: hidden;
    max-width: 100px;
  }

  .profile-pic {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    object-fit: cover;
    flex-shrink: 0;
  }

  .menu-icon {
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-box {
    display: none;
  }
  .center-section .nav-discord {
    justify-content: center;
  }
}
